<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="APP_NAME" value="walmart-checkout-challenge"/>

    <property name="CONSOLE_PATTERN"
              value="%d{HH:mm:ss.SSS} %highlight(%-5level) [%blue(%thread)] %cyan(%logger{20}) : %msg%n%throwable"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>

    <logger name="com.walmart" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <springProfile name="dev">
        <logger name="com.walmart" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>

</configuration>